body{
    background: url("images/bg5.jpg") fixed no-repeat;
    background-size: cover;
    padding: 10px;

}

.today{
    
    width: fit-content;
    font-size: 40px;
    color: white;
}

.rem{
    font-weight: 100;
    font-size: large;
    display: inline-block;
    width: fit-content;
    padding: 32px;
    font-size: 18px;
    color: brown;


}

.block{
    padding: 40px;
    margin-left: 40px;
}

.graphs{
    padding: 40px;
    margin-left: 40px;
}